html,
body {
  margin: 0;
  max-width: 100vw;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 768px;
  height: 100%;
  border: 1px solid #aaaaaa;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.main-wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
}
